/* Custom CSS for 360-degree rotation */
.rotate-360 {
  transition: transform 2s ease; /* Adjust the duration here */
}

.rotate-360:hover {
  transform: rotate(360deg);
}

/* CSS for text animation */
@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in-up {
  animation: fadeUp 1s ease forwards;
  opacity: 0;
  transform: translateY(20px);
}
