/* Custom CSS for 360-degree rotation */
.rotate-360 {
  transition: transform 2s ease; /* Adjust the duration here */
}

.rotate-360:hover {
  transform: rotate(360deg);
}

/* CSS for text animation */
@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in-up {
  animation: fadeUp 1s ease forwards;
  opacity: 0;
  transform: translateY(20px);
}

/* for Loading Component */
.loading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.spinner {
  border: 4px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  border-top: 4px solid #26ce63;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

p {
  margin-top: 20px;
  font-size: 18px;
  color: #3498db;
}
